<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
      <title>TinyApp</title>
    </head>
    <body style="font-size:20px; padding:50px;">
      <header>
          <% include ./partials/_header.ejs %>
      </header>
        <h3>My URLs</h3>
        <ul>
          <% for(var url in urls) { %>
            <li><b><%=url %></b>: <%= urls[url] %> 
              <form method="POST" action=<%= url%>/delete  id= <%= url %>>
                <input type="submit" value="Delete" >
              </form> 
            </li>      
          <% }; %>
        </ul>

      
    </body>
  </html>

  <!-- onclick="document.getElementById(this.id).action+= url;return true;" -->
  <!-- <form method="POST" action="/urls"  id= <%= url %>>
    <input type="submit" value="Delete" onclick="document.document.getElementById(this.id).action+='/'+ this.id +'/delete';return true;">
    <button  
  </form>      -->

  <!-- <input id="id" type="submit" name="id" /><br />
  <button id:"cancella" type="submit">Delete</button>
  <input type="submit" value="Delete"> -->

  <!-- <form method="POST" action="/urls/9sm5xK/delete">
    <input id="id" type="submit" name="id" />
  </form> -->