<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width"=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
      <title>Edit <%=shortURL %> - TinyApp</title>
    </head>
    <body style="font-size:20px; padding:50px;">
      
      <% include ./partials/_header.ejs %>

      <h1 class="h1 mb-3 font-weight-bold">Edit Short URL: <b><%= shortURL%></b></h1>
      <form method="POST" style="width: 800" class="form-inline" action="/urls/<%= shortURL%>?_method=PUT"  id= <%= shortURL %>>
        <div class="form-group" >
            <label type="text" name="pageViews" style="width: 200px; font-size: 20px">URL to be made Tiny: </label>
            <input type="text" name="longURL" class= "form-control" value=<%= longURL %> style="width: 400px; font-size: 20px; margin: 1em">
            <button type="submit" class="btn btn-primary btn-lg" style="width: 150px">Update</button>
        </div>        
      </form>
      <h3 class="h3 mb-3 font-weight-bold" style="padding: 20px 0 0 0">Page Statistics</h3>
      <ul class="list-group" style="width: 800px">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Page Views:
            <span class="badge badge-primary badge-pill"><%= pageViews %></span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Unique Visitors:
            <span class="badge badge-primary badge-pill"><%= uniqueVisitors %> </span>
          </li>
        </ul> 
        <span style="height: 20px"></span>
        <h3 class="h3 mb-3 font-weight-bold" style="padding: 20px 0 0 0">Visit History</h3>
        <div class="table-responsive" style="width: 800px">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>#</th>
                <th>Time Stamp</th>
                <th>Generated Visitor ID</th>
              </tr>
            </thead>
            <tbody>
              <% let visitIndex = 0; %>
              <% for(let visit of visits) { %>
              <% visitIndex += 1; %>
              <% const time = visit.timestamp; %>
              <tr>
                <td><%= visitIndex %></td>
                <td><%= time %></td>
                <td><%= visit.uniqueID %></td>
              </tr>
              <% }; %>
            </tbody>
          </table>
        </div>
    </body>
  </html>